<div class="form-group">
    {% for field in form %}
        <div>

            <label id="{{ field.id_for_label }}">{{ field.label }}</label>
            <input type="{{ field.field.widget.input_type }}" class="form-control" id="{{ field.id_for_label }}" placeholder="{{ field.label }}" name="{{ field.html_name }}">
             {% if field.errors %}
                 <div class="alert alert-danger">
                      <strong>{{ field.errors.error }}</strong>
                 </div>
             {% endif %}

         </div>
    <br>
    {% endfor %}
</div>